div {
    font-size: 1rem;
    line-height: 2.5rem;
}

h1 {
    color: white;
}

blockquote {
    border-left: 5px #DD4C39 solid;
    padding-left: 10px;
    margin-bottom: 15px;
}

pre {
    background: rgba(0,0,0,.05);
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 9px;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
}

code {
    display: block;
    overflow-x: auto;
    color: #abb2bf;
    background: #282c34;
    padding-left: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
}