.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.5em;
  font-size: 16px;
}

.utterances {
  // color: black;
}

.blockArea {
  border-left: 5px #397bdd solid;
  background-color: rgb(71, 71, 78);
  height: 70px;
  color: white;
  font-weight: bold;
  padding-left: 10px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
